<div class='mt-5'>
  <h3>Đăng nhập tài khoản trang online.hcmue.edu.vn</h3>
  <form
    action='/admin/login/post'
    method='POST'
    class='mt-4'
    style='width: 50%;'
  >
    <div class='input-group input-group-sm mb-3'>
      <span class='input-group-text' id='inputGroup-sizing-sm'>Mã Số Sinh Viên</span>
      <input type='text' name='mssv' class='form-control' />
    </div>

    <div class='input-group mb-3'>
      <span class='input-group-text' id='inputGroup-sizing-default'>Mật Khẩu</span>
      <input type='password' name='password' class='form-control' />
    </div>
    <button class='btn btn-primary' type='submit'>Đăng nhập</button>
  </form>
</div>